<div class="blurb">
   {{#if this.type }}
   <div class="blurb__image">
      <img src="{{this.user.profileImageUrl}}">
   </div>
   <div class="blurb__content">
      <p>
         <strong>{{this.user.screenName}}</strong><br>
         {{this.text}}
      </p>
   </div>
   {{else}}
   <div class="blurb__content">
      <p>
         <strong>{{this.text}}</strong>
      </p>
   </div>
   {{/if}}
</div>
